<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <label for="send-file_input">Submit file</label>
      <form id="send-file_input" action="/send-file" method="POST">
        <input type="file" name="file" />
        <div>
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </body>
</html>


